.contact {
  .form-label {
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 0.95px;
    color: rgba(51, 51, 51, 0.5);
  }
  .form-control {
    font-weight: 800;
    color: rgba(51, 51, 51, 1);
  }
  .submit {
    font-size: 14px;
  }
}
