.header {
  text-align: center;

  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
  .logo {
    max-width: 120px;
    width: 100%;
  }
  ul,
  li {
    display: inline-block;
  }
}
