.photography {
  font-family: freight-big-pro;
  margin: 40px 100px;
  .title {
    margin-bottom: 34px;
    h1 {
      color: rgba(51, 51, 51, 0.7);
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 0.8px;
      line-height: 60px;
    }
  }

  .crop {
    max-height: 480px;
    height: 100%;
    overflow: hidden;
    .gp-image {
      height: 480px;
      width: auto;
      &.brunei {
        height: 480px;
        width: auto;
        margin-left: -190px;
      }
      &.jakarta {
        height: 480px;
        width: auto;
        margin-left: -50px;
      }
      &.malaysia {
        margin-left: -125px;
      }
      &.laos {
        margin-left: -80px;
      }
      &.loy {
        height: 719px;
        margin-top: -160px;
      }
      &.medan {
        margin-left: -145px;
      }
      &.monk {
        margin-left: -135px;
      }
      &.wedding {
        height: 719px;
        margin-top: -225px;
      }
    }
  }
  .img-desc {
    color: rgba(51, 51, 51, 0.5);
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.95px;
    line-height: 38px;
    margin-top: 7px;
  }
}
